@import '../../variables.scss';

.products-menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        height: 65vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &::-moz-scrollbar {
            width: 0px;
        }
        &::-ms-scrollbar {
            width: 0px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 6px;
        }
        &::-moz-scrollbar-track {
            background: transparent;
            border-radius: 6px;
        }
        &::-ms-scrollbar-track {
            background: transparent;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background: $dark-accent;
            border-radius: 6px;
        }
        &::-moz-scrollbar-thumb {
            background: $dark-accent;
            border-radius: 6px;
        }
        &::-ms-scrollbar-thumb {
            background: $dark-accent;
            border-radius: 6px;
        }
    }
    &__btn {
        display: flex;
        gap: 5px;
        align-items: center;

        position: absolute;
        bottom: 12vh;
        right: 20px;
        &_title {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 12px;
            color: $font-color;
        }
    }
    .card {
        border: solid 1px $dark-accent;
        border-radius: 8px;
        background-color: #383838cd;
    }
    .hidden {
        opacity: 0;
        position: absolute;
        top: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        transition: all 0.5s ease-out;
    }
    .visible {
        position: relative;
        width: 100%;
        z-index: 2;
        transition: all 0.5s ease-out;
        border: solid 2px $dark-accent;
        background-color: #383838c7;
        border-radius: 15px;
    }
}