@media (max-width: 1350px) {
    .skeleton {
        align-items: flex-start;
        &__circle {
            width: 250px;
            height: 250px;
            margin-left: 25px;
        }
        &__img-slider {
            width: 75px;
            margin-left: 0;
            overflow-x: hidden;
        }
        &__about {
            margin-left: 0;
        }
    }
}

@media (max-width: 1170px) {
    .skeleton {
        padding-right: 40px;
        &__about {
            width: 350px;
        }
    }
}

@media (max-width: 768px) {
    .skeleton {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        height: 60vh;
        &__circle {
            margin-top: 0;
            margin-left: 0;
            width: 100px;
        }
        &__img-slider {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
        }
        &__about {
            margin-top: 20px;
        }
        &__title {
            height: 30px;
        }
        &__descr {
            height: 20px;
        }
        &__btn, .skeleton__price {
            height: 40px;
        }
    }
}

@media (max-width: 375px) {
    .skeleton__about {
        width: 250px;
    }
}