@import '../../../variables.scss';

.about {
    margin: 0 auto;
    width: 75vw;
    margin-top: 90px;
    &__title {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 70px;
        color: $font-color;
    }
    &__info {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: $font-color;
    }
}