@import '../../variables.scss';

.hidden {
    left: -100%;
    z-index: -1;
}

.on-intro__logo {
    position: absolute;
    top: 0;
    left: 50px;
}

.nav-section {
    height: 100%;
    background-color: $font-color;
    position: relative;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: -1;
    &__logo {
        padding-top: 25px;
        text-align: center;
    }
}

.arrow-btn {
    position: absolute;
    top: 10vh;
    padding-left: 37px;
    transform: translateY(-50%);
    height: 50vh;
    padding-top: 50vh;
}

.nav-section

.product-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 40px;
    gap: 10px;
    &__card {
        min-width: 150px;
        min-height: 190px;
        background-color: #3838389c;
        border-radius: 20px;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-moz-scrollbar {
        width: 6px;
    }
    &::-ms-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 6px;
    }
    &::-moz-scrollbar-track {
        background: transparent;
        border-radius: 6px;
    }
    &::-ms-scrollbar-track {
        background: transparent;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }
    &::-moz-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }
    &::-ms-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    &::-moz-scrollbar-thumb:hover {
        background: #555;
    }
    &::-ms-scrollbar-thumb:hover {
        background: #555;
    }
}