.nav-section {
    height: 100%;
    background-color: #DADADA;
    position: relative;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: -1;
}

.nav-section__logo {
    padding-top: 45px;
    text-align: center;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 350px;
    margin-top: 40px;
    gap: 10px;
}

.product-cards__card {
    width: 170px;
    height: 210px;
    background-color: #38383879;
    border-radius: 20px;
}