@import url('./variables.css');

.delivery {
    margin: 0 auto;
    width: 75vw;
    margin-top: 90px;
}

.delivery__title {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: var(--font-color);
}

.delivery__info {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--font-color);
}