.nav-menu {
    display: block;
    width: 50%;
    height: 70px;
    margin: 0 auto;
}

.nav-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu__item {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #DADADA;
}

.nav-menu__item_active::after, .nav-menu__item::after, .nav-menu__item:hover::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #A59568;
    border-radius: 15px;
    transition: all 0.5s ease-out;
}

.nav-menu__item::after {
    width: 0;
}

.nav-menu__item_active::after, .nav-menu__item:hover::after {
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}