@import url('./variables.css');

.product {
    margin-top: 30px;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
}

.product__circle {
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 100%;
    background-color: var(--dark-accent);
    z-index: -1;
    margin-left: 69px;
    margin-top: 59px;
}

.product__main-img {
    display: inline-block;
    width: auto;
    height: auto;
    padding-left: 85px;
    padding-top: 55px;
}

.product__main-img img {
    max-width: 468px;
    max-height: 468px;
}

.product__img-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    margin-top: 90px;
    margin-left: 92px;
    width: 700px;
    height: 45vh;
    overflow-y: auto;
}

/* Общие стили */
.product__img-slider::-webkit-scrollbar {
    width: 2px;
}

.product__img-slider::-moz-scrollbar {
    width: 2px;
}

.product__img-slider::-ms-scrollbar {
    width: 2px;
}

/* Track (полоса прокрутки) */
.product__img-slider::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

.product__img-slider::-moz-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

.product__img-slider::-ms-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

/* Handle (ручка скроллбара) */
.product__img-slider::-webkit-scrollbar-thumb {
    background: var(--dark-accent);
    border-radius: 6px;
}

.product__img-slider::-moz-scrollbar-thumb {
    background: var(--dark-accent);
    border-radius: 6px;
}

.product__img-slider::-ms-scrollbar-thumb {
    background: var(--dark-accent);
    border-radius: 6px;
}

.product__img-slide {
    cursor: pointer;
    border-radius: 15px;
    border: solid 1px var(--dark-accent);
    background-color: #00000047;
    transition: all 0.5s ease-out;
}

.product__img-slide:hover {
    background-color: #a5956877;
}

.product__img-slide img {
    width: 72px;
    height: 72px;
}

.product__about {
    margin-left: 92px;
}

.product__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 46px;
    color: var(--font-color);
}

.product__descr {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--font-color);
    margin-top: 37px;
}

.product__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}

.product__btn {
    cursor: pointer;
    width: 155px;
    height: 55px;
    border-radius: 15px;
    border: solid 3px #A59568;
    background-color: #00000047;
    transition: all 0.5s ease-out;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--font-color);
}

.product__btn:hover{
    background-color: #a5956877;
}

.product__price {
    width: 198px;
    height: 55px;
    border-radius: 15px;
    border: solid 3px #000000;
    background-color: #A59568;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--font-color);
}