@import url('./css/supButtons.css');
@import url('./css/aside.css');
@import url('./css/aside-card.css');
@import url('./css/main.css');
@import url('./css/product.css');
@import url('./css/footer.css');

@import url('./css/media-queries.css');

body {
    margin: 0;
    background-color: #383838;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 21.25vw 78.75vw;
    grid-template-rows: 90vh 10vh;
}