@import url('./css/aside.css');
@import url('./css/section.css');

body {
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 21.25vw 1fr;
    grid-template-rows: 75.92vh 1fr;
}